<li class="question_list id="question-<%= question.id %>">
  <p class="text">
    <% if question.status == 'unsolved' %>
    <span class="status text">受付中</span>
    <% else %>
    <span class="status">解決済み</span>
    <% end %>
    <span class="title"> <%= link_to question.title, question %> </span>
  </p>
  <p><%= question.user_id %></p>
  <p><%= time_ago_in_words(question.created_at) %> 前に投稿</p>
</li>
