<div class="container">
  <div class="about-page">将棋アスクとは、<span class="what">将棋専門のQ&Aサイト</span>です。<br>
  将棋を学びたい多くの人が集まり、お互い成長できる場所を目指しています。<br>
  <span class="message">質問することは素晴らしいことです。</span>どんな些細な疑問でも、初心者でも遠慮なくご質問ください。</div>
</div>
