<% set_meta_tags title: full_title("将棋アスクとは"), description: "将棋アスクとは、将棋に特化した無料Q&Aサイトです。
将棋を学びたい多くの人が集まり、入門や上達を目指しています。また、将棋を観て楽しむ人たちの集まる場所にもなります。
オススメの本や戦法、詰将棋、将棋ソフトなど幅広い質問をお待ちしています。" %>
<div class="container">
  <div class="about-page">将棋アスクとは、<span class="what">将棋専門のQ&Aサイト</span>です。<br>
  将棋を学びたい多くの人が集まり、お互い成長できる場所を目指しています。<br>
  <span class="message">質問することは素晴らしいことです。</span>どんな些細な疑問でも、初心者でも遠慮なくご質問ください。</div>
</div>
