<% set_meta_tags title: full_title("#{@user.name}さんのプロフィール"), description: "#{@user.name}さんの将棋アスクのプロフィールです。ユーザー名、写真、ヒトコトが確認できます。" %>
<div class="container">
  <p class="current-profile">現在のプロフィール</p>
  <div class="row">
    <div class="col-sm-2 text-center">
        <p><%= image_tag(@user.image.url,  :size => "100x100", :alt => "アイコン") %></p>
    </div>
    <div class="col-sm-10 text-left">
        <ul class="user-list">
          <li class="text-left">ユーザー名 <span class="user-naming"><%= @user.name %></span> </li>
          <li class="sentence">ヒトコト<span class="user-sentence"><%= @user.sentence %></span></li>
        </ul>
      </div>
    </div>
    <% if @user == current_user %>
    <p class="edit-profile"><%= link_to "プロフィールを編集する",users_setting_profile_path, class: "btn btn-primary" %></p>
    <% end %>
</div>
