@import "bootstrap-sprockets";
@import "bootstrap";


 body {
   padding-top: 70px;
   letter-spacing: 0.5px;
 }

 ol, li {
   list-style: none;
 }
 /* header */
 header {
   background-color: #3d424a;
 }
 /* footer */
 footer {
   background-color: #464c56;
   margin-top: 50px;
   padding: 24px 0px 20px 0px;
   color: white;

 }

 .about, .contact {
   color: white;
   &:hover {
     color: white;
   }
 }
 /* questions#index */

 .question-list {
   border-top: solid 0.5px 	#DCDCDC;
 }

  .question-heading, .question-content, .each-reply, .reply-heading {
    border-bottom: solid 0.5px 	#DCDCDC;
  }


 .title {
   font-size: 18px;
   margin-top: 15px;
   margin-bottom: 20px
 }

 .answer-title {
   font-size: 10px;
 }

 .category {
   font-size: 15px;
   color: #545b67;
   background-color: #CAE2F0;
   border: 1px solid #b2cdde;
   font-weight: 400;
 }

 .status {
   background-color: #f5f5f5;
   font-size: 14px;
   margin-top: 15px;
 }

 .text {
   display: inline;
 }

 .left-side {
   width: 60px;
 }


 .reply-count {
   font-size: 25px;
   margin-top: 8px;
 }

 .question-bottom li {
   display: inline-block;
 }

 .index-profile {

 }

 .index-user-name {
   padding-right: 24px;
   font-weight: 400;
 }

 .index-time {
   margin-right: 0px;
   margin-bottom: 15px;
   font-weight: 400;
 }

/* questions#show */
 .question-summary {
   background-color: #f2f2f2;
   width: 100%;
   margin-bottom: 32px;
 }

 .show-title {
   font-size: 24px;
 }
 .answer-count {
   border-top: solid 0.5px 	#DCDCDC;
   margin-top: 10px;
   font-size: 20px;
 }

 .question-content {
   padding-bottom: 15px;
 }

 .reply-heading {
   margin-top: 90px;
   font-size: 20px;
   font-weight: bold;
   padding-bottom: 10px;
 }
.content-form {
  padding-bottom: 100px;
}

.comment-post {
  padding: 10px 10px;
  &:hover {
    text-decoration:none;
    background-color: #C0C0C0;
  }
}

.reply-form {
  margin-top: 20px;
  display: none;
}


/* _reply */
 .each-reply {
   padding: 30px 0px 20px 0px;
 }

/* login-form */
  .devise-heading {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .login-btn {
    margin-top: 20px;
  }

  .link-from-devise {
    margin-top: 20px;
    & li {
      margin-left: 10px;

    }

  }
