@import "bootstrap-sprockets";
@import "bootstrap";


 body {
   letter-spacing: 0.5px;
   line-height: 1.6;
 }

 ol, li {
   list-style: none;
 }
 /* header */
 header {
   background-color: #464c56;
 }

 .navbar {
   margin-bottom: initial;
 }

 #logo {
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
 }

 .subtitle {
   color: white;
 }


 #logo, .nav li a{
   color: white;
   &:hover {
     background-color: #26282b;
   }
 }

 /* footer */
 footer {
   background-color: #373b42;
   margin-top: 50px;
   padding: 24px 0px 20px 0px;
   color: white;

 }

 .contact-list {
   padding-top: 5px;
 }

 .about, .contact {
   color: white;
   &:hover {
     color: white;
   }
 }

 /* flash_message */
 .alert {
  text-align: center;
  &-alert{
    color: white;
    background-color: red;
  }
  &-notice {
    color: white;
    background-color: blue;
  }
}
 /* questions#new */
 .new-form-title {
   padding-top: 10px;
 }
 /* questions#index */

 .question-list {
   border-top: solid 0.5px 	#DCDCDC;
 }

  .question-heading, .question-content, .each-reply, .reply-heading, .space-best-reply  {
    border-bottom: solid 1px 	#DCDCDC;
  }

  .status {
    font-size: 14px;
    margin-top: 15px;
  }

  .solved {
    background-color: #e9606d;
    color: #fff;
      & + .answer-heading {
        dt, dd {
          color: #e9606d;
        }
      }
      & + li {
        & + li {
          color: #e9606d;
        }
      }
  }

  .unsolved {
    background-color: #f5f5f5;
  }

 .title {
   font-size: 18px;
   margin-top: 15px;
   margin-bottom: 20px
 }

 .answer-title {
   font-size: 10px;
 }

 .category {
   font-size: 15px;
   color: #545b67;
   background-color: #CAE2F0;
   border: 1px solid #b2cdde;
   font-weight: 400;
 }


 .text {
   display: inline;
 }

 .left-side {
   width: 60px;
 }


 .reply-count {
   font-size: 25px;
   margin-top: 8px;
 }

 .question-bottom li {
   display: inline-block;
 }

 .index-profile {

 }

 .index-user-name {
   padding-right: 24px;
   font-weight: 400;
 }

 .index-time {
   margin-right: 0px;
   margin-bottom: 15px;
   font-weight: 400;
 }

/* questions#show */
 .question-summary {
   background-color: #f2f2f2;
   width: 100%;
   margin-bottom: 32px;
 }

 .show-title {
   font-size: 24px;
   font-weight: bold;
 }

 .unsolved-show {
   background-color: #ddd
 }
 .answer-show-title {
   font-size: 16px;
   font-weight: bold;
 }
 .question-time {
   font-size: 11px;
 }

 .list-inline span {
   float: right;
 }

 .user-info {
   margin-top: 13px;
 }

 .user-profile {
   margin-left: 175px;
 }

 .user-name {
   vertical-align: bottom;
 }
 .answer-count {
   border-top: solid 0.5px 	#DCDCDC;
   margin-top: 10px;
   font-size: 20px;
 }

 .question-content {
   padding-bottom: 15px;
 }

 .reply-heading {
   margin-top: 90px;
   font-size: 20px;
   font-weight: bold;
   padding-bottom: 10px;
 }
.content-form {
  padding-bottom: 100px;
}

.comment-post {
  padding: 10px 10px;
  background-color: #119a8fb3;
}

.reply-form {
  margin-top: 30px;
  display: none;
}


/* _reply */
 .each-reply, .best-reply-summary {
   padding: 20px 0px 20px 0px;
 }

.reply-user {
  padding-bottom: 12px;
}

.best-reply {
  float: right;
  color: #e9606d;
  padding-top: 10px;
}
.best-reply-summary {
  padding-bottom: 100px;
}

.best-answer-title {
  color: #e9606d;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px
}

.comment-line {
  margin-top: 20px;
}

.space-best-reply {
  padding-bottom: 20px;
}

/* _comment */

.each-comment {
  border-top: solid 0.5px 	#ddd;
}

.comment-content {
  font-size: 12px;
}






/* login-form */
  .devise-heading {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .login-btn {
    margin-top: 20px;
  }

  .link-from-devise {
    margin-top: 20px;
    & li {
      margin-left: 10px;

    }

  }
  /* users#show */

  .edit-profile {
    padding-top: 40px;
    font-weight: bold;
  }

  .current-profile {
    padding: 10px 0px;
    font-weight: bold;
  }

  .user-list {
    & .sentence {
      padding-top: 10px;
    }
    & li {
      & .user-naming {
        padding-left: 20px;
      }
      & .user-sentence {
        padding-left: 38px;
      }
    }
  }

  /* users#edit */

  .profile-edit-form {
    padding-top: 10px;
  }

  /* about_page */

  .about-page {
    font-size: 16px;
    margin-top: 20px;
  }

  .what {
    font-weight: bold;
    color: red;
  }

  .message {
    font-weight: bold;
  }

  /* contact_page */

  .contact-page {
    font-size: 16px;
    margin-top: 20px;
  }


  @media (max-width: 768px) {
    .container {
      width: 100%;
      overflow: hidden;
    }
    .nav>li {
      float: left;

      display: inline-block;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-nav>li>a {
        padding-top: 14.5px;
        padding-bottom: 14.5px;
    }

    .questions {
      padding: 0px;
    }
    h1 {
      font-size: 24px;
    }
    .question-bottom {
      padding-top: 15px;
    }
  }
