<footer class="footer">
  <div class="">
    <nav>
      <ul>
        <li><%= link_to "将棋アスクとは",   about_path, class:"about" %></li>
        <li class="contact-list"><%= link_to "お問い合わせ", contact_path, class:"contact" %></li>
      </ul>
    </nav>
  </div>
</footer>
