<header class="navbar navbar-fixed-top navbar-default bg-secondary">
  <div class="container bg-secondary">
    <%= link_to "Review-Shogi", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "質問を投稿する", new_question_path %></li>
      </ul>
    </nav>
  </div>
</header>
